<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="expat.v143" version="2.4.1.1" targetFramework="native" />
  <package id="Microsoft.Net.Compilers.Toolset" version="4.4.0-2.final" targetFramework="native" developmentDependency="true" />
  <package id="zeroc.lmdb.v143" version="0.9.29" targetFramework="native" />
</packages>